<!DOCTYPE html>
<!-- next step, continue with creating the SampleDataLoader (Sala 8 de Zoom) and
    change all.html to be part of home.html instead of a separate file -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
    <header th:replace="fragments/header"></header>

    <section class="container">
        <div class="wrapper"> <!-- wrapper div starts -->

            <div class="fixed-bg bg-cover bg-gray-400">
                <h1>Fixed Background scrolling</h1>
            </div>

            <div class="maincontent">
                <section class="home">
                    <div class="introduction">
                        <h1>Helen Didsbury</h1>
                        <p>Web Developer and Tech Support Specialist</p>
                        <img src="#" alt="Photo of me" class="myphoto">
                    </div>
                    <div class="blockdev">
                        <!-- floating buttons that lead to my BlockchainDev section -->

                    </div>
                    <div>
                        <p>Short Description of myself</p>
                    </div>


                </section>
                <section class="aboutme">
                    <h1>About Me</h1>
                    <p>Text</p>
                </section>
                <section class="skills">
                    <h1>Skills and Knowledge</h1>
                    <div class="softskills_container">
                        <h2>Soft Skills</h2>
                    </div>
                    <div class="techskills_container">
                        <h2>Tech Skills</h2>
                        <div class="itsupport_section">
                            <h3>IT Support</h3>
                        </div>
                        <div class="programlanguages_section">
                            <h3>Programming Languages</h3>
                        </div>
                        <div class="frameworks_section">
                            <h3>Frameworks & VCS</h3>
                        </div>
                        <div class="blockchain_mention">
                            <button type="button" class="gotoblockchain">Blockchain Skills</button>
                        </div>
                    </div>
                    <div class="customercareskills_container">
                        <h2>Customer Interaction</h2>
                    </div>
                    <div class="languages_container">
                        <h2>Languages I speak</h2>
                        <ul>
                            <li>English</li>
                            <li>German</li>
                            <li>Spanish</li>
                            <li>Catalan</li>
                        </ul>
                    </div>
                </section>
                <section class="portfolio">
                    <p>MY WORK</p>
                    <h1>Portfolio</h1>
                    <div class="experience_button">
                        <p>Experience</p>
                    </div>
                    <div class="certificates_button">
                        <p>Certifications</p>
                    </div>
                </section>
                <section class="contact">
                    <h1>Contact me Here!</h1>
                    <div class="contactform">
                        <h2>Contact Form</h2>
                        <p>EMAIL ME</p>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/footer"></footer>
</body>
<!-- Tailwind Config script -->
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    clifford: '#da373d',
                }
            }
        }
    }
</script>
</html>